<section class="grid md:grid-cols-2 max-w-md md:max-w-full w-full bg-gray-950 dark:bg-rose-600 p-6 mt-20 text-center">
   <div class="w-full flex justify-center md:justify-start">
      <img src="<%= base_url %>/images/classroom.jpg" alt="Classroom with desks and a blackboard" class="w-11/12 h-[400px] rounded-lg shadow-md">
   </div>

   <div class="flex flex-col justify-between">
      <h1 class="text-2xl md:text-4xl text-white font-bold mt-4">Efisiensi Belajar dengan Tryout Berbasis Web</h1>
      <p class="text-sm font-light md:text-md text-white mt-4">
         Persiapkan Ujian dengan Efisiensi Tinggi Melalui Platform Tryout Berbasis Web yang Interaktif dan Sesuai
         Jenjang Pendidikan
      </p>
      <button class="bg-rose-600 dark:bg-black text-white px-5 py-3 mt-4 rounded-lg flex items-center justify-center w-full hover:bg-gray-800 duration-300 transition">
         Schedule a Call <i class="fas fa-phone-alt ml-2"></i>
      </button>
   </div>
</section>